<h2>Calculate Drive Times</h2>

<%= form_tag run_path(format: :csv), multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Run" %>
<% end %>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
<% end %>